html{
  background-color: black;
}

.news-list {
  background-image: linear-gradient(red, yellow);
}

.news-box {
  background-color:black;
  color: white;
  padding: 0%;
  margin: 0em;
}

.App {
  /* position: absolute; */
  margin: 0;
  padding: 0;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.news-item {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  /* background-image: linear-gradient(to right, blue ,white,red); */
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
  background-color: black;
  border: solid;
  border-color: navajowhite;
}

